@using WookiepediaStatusArticleData.Nominations.Nominators
@using Htmx.TagHelpers
@model WookiepediaStatusArticleData.Nominations.Nominators.Nominator;

@{
    var isBanned = Model.Attributes!.Any(it => it is { AttributeName: NominatorAttributeType.Banned, EffectiveEndAt: null });
}

<div hx-target="this" hx-swap="outerHTML" class="f-row justify-content:space-between box plain">
    <div class="f-col">
        <div>@Model.Name</div>
        <div class="f-row flex-wrap:wrap">
            @foreach (var attr in Model.Attributes!)
            {
                <div class="chip @attr.AttributeName.Color()">@attr.AttributeName</div>
            }
        </div>
    </div>
    <div class="f-row align-self:center">
        @if (isBanned)
        {
            <button
                type="button"
                hx-post
                hx-controller="Nominators"
                hx-action="UnbanNominator"
                hx-route-id="@Model.Id"
                class="border bg bad"
                hx-confirm="Are you sure you want to un-ban @Model.Name? You'll need to manually add new attributes.">
                Un-ban
            </button>
        }
        else
        {
            <button
                type="button"
                hx-post
                hx-controller="Nominators"
                hx-action="BanNominator"
                hx-route-id="@Model.Id"
                class="border bg bad"
                hx-confirm="Are you sure you want to ban @Model.Name? This will remove all other attributes.">
                Ban
            </button>
        }
    </div>
</div>