@using WookiepediaStatusArticleData.Nominations.Projects
@model WookiepediaStatusArticleData.Nominations.Projects.Project;

<div hx-target="this" hx-swap="outerHTML" class="f-row justify-content:space-between box plain">
    <div class="f-col">
        <div class="@Model.Type.GetDisplayClass()">@Model.Name</div>
        <time class="chip info skip-localize-time" datetime="@Model.CreatedAt.ToString("O")">@Model.CreatedAt.ToString("u")</time>
    </div>
    <div class="f-row align-self:center">
        <button type="button" hx-get hx-controller="Projects" hx-action="EditForm" hx-route-id="@Model.Id">Edit</button>
        <button
            type="button"
            hx-delete
            hx-controller="Projects"
            hx-action="Delete"
            hx-route-id="@Model.Id"
            hx-swap="delete"
            hx-confirm="Are you sure you want to archive @Model.Name?">
            Archive
        </button>
    </div>
</div>