@model WookiepediaStatusArticleData.Models.Awards.HomePageViewModel;

@{
    ViewData["Title"] = "Home";
}

@section PageHeader {
    <h1>Wookieepedia Status Article Nomination Awards</h1>
    <p>View awards for Status Article nominations.</p>

    @if (Model.Groups.Count > 0)
    {
        <section>
            <form asp-controller="Home" asp-action="Index" method="get">
                <label for="awardId">Year</label>
                <select id="awardId" name="awardId" asp-items="@Model.Groups"></select>
                <input type="submit" value="Go" />
            </form>
        </section>
    }
}

@if (Model.Selected == null)
{
    <p>No awards have been given yet. Come back later to see them!</p>
}
else
{
    @foreach (var heading in Model.Selected.AwardHeadings)
    {
        <section>
            <header>
                <h2>@heading.Heading</h2>
            </header>
            @foreach (var subheading in heading.Subheadings)
            {
                <article>
                    <header style="padding: 0">
                        <h3>@subheading.Subheading</h3>
                    </header>
                    <div style="flex: 1 1 0; justify-content: space-between; gap: 1rem; flex-wrap: wrap">
                        @foreach (var awardType in subheading.Awards)
                        {
                            <table>
                                <thead>
                                <caption>@awardType.Type</caption>
                                <tr>
                                    <th>Place</th>
                                    <th>Nominator(s)</th>
                                    <th>Count</th>
                                </tr>
                                </thead>
                                <tbody>
                                @for (var i = 0; i < awardType.Winners.Count; i++)
                                {
                                    <tr>
                                        <td>@(i + 1)</td>
                                        <td>
                                            <ul>
                                                @foreach (var name in awardType.Winners[i].Names)
                                                {
                                                    <li>@name</li>
                                                }
                                            </ul>
                                        </td>
                                        <td>@awardType.Winners[i].Count</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        }
                    </div>
                </article>
            }
        </section>
    }
}
