@model WookiepediaStatusArticleData.Models.Awards.HomePageViewModel;

@{
    ViewData["Title"] = "Home";
}

@section PageHeader {
    <h1>Wookieepedia Status Article Nomination Awards</h1>
    <p>View awards for Status Article nominations.</p>

    @if (Model.Groups.Count > 0)
    {
        <section>
            <form asp-controller="Home" asp-action="Index" method="get">
                <label for="awardId">Year</label>
                <select id="awardId" name="awardId" asp-items="@Model.Groups"></select>
                <input type="submit" value="Go" />
            </form>
        </section>
    }
}

@if (Model.Selected == null)
{
    <p>No awards have been given yet. Come back later to see them!</p>
}
else
{
    @foreach (var heading in Model.Selected.AwardHeadings)
    {
        <section style="display: flex; flex-direction: column; gap: 1rem">
            <header>
                <h2>@heading.Heading</h2>
            </header>
            @foreach (var subheading in heading.Subheadings)
            {
                <table style="display: table; width: 100%">
                    <thead style="position: sticky; top:  0;">
                    <tr>
                        <th colspan="4" style="text-align: center">
                            @heading.Heading > @subheading.Subheading
                        </th>
                    </tr>
                    <tr>
                        <th>Award</th>
                        <th>Place</th>
                        <th>Nominator(s)</th>
                        <th>Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var awardType in subheading.Awards)
                    {
                        @for (var i = 0; i < awardType.Winners.Count; i++)
                        {
                            <tr>
                                @if (i == 0)
                                {
                                    <th rowspan="@awardType.Winners.Count">@awardType.Type</th>
                                }
                                <td style="text-align: initial">@(i + 1)</td>
                                <td>
                                    <ul>
                                        @foreach (var name in awardType.Winners[i].Names)
                                        {
                                            <li>@name</li>
                                        }
                                    </ul>
                                </td>
                                <td>@awardType.Winners[i].Count</td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
                <br />
            }
        </section>
    }
    <section>
        <header>
            <h2>Participation Awards</h2>
        </header>
        <ol>
            @foreach (var nominator in Model.NominatorsWhoParticipatedButDidntPlace)
            {
                <li>@nominator.Name</li>
            }
        </ol>
    </section>
    
    @if (Model.AddedProjects.Count > 0)
    {
        <section>
            <header>
                <h2>New Projects</h2>
            </header>
            <ol>
                @foreach (var project in Model.AddedProjects)
                {
                    <li>
                        <time datetime="@project.CreatedAt.ToString("O")">
                            @project.CreatedAt.ToString("u")
                        </time>
                        @project.Name
                    </li>
                }
            </ol>
        </section>
    }
}
