@model WookiepediaStatusArticleData.Models.Awards.HomePageViewModel;
@using WookiepediaStatusArticleData.Models.Awards;

@{
    Layout = "_AwardsLayout";
}

@section MainTitle
{
    <h1>SAN Awards</h1>
}

@section Navigation
{
    <ol id="sidebar-nav">
        @foreach (var heading in Model.Selected?.AwardHeadings ?? [])
        {
            <li>
                <div><a href="#@heading.HeadingSlug">@heading.Heading</a></div>
                <ol>
                    @foreach (var subheading in heading.Subheadings)
                    {
                        <li>
                            <a href="#@heading.HeadingSlug-@subheading.SubheadingSlug">
                                @subheading.Subheading
                            </a>
                        </li>
                    }
                </ol>
            </li>
        }

        @if (Model.AddedProjects.Count > 0)
        {
            <li>
                <a href="#new-projects">
                    New Projects
                </a>
            </li>
        }


        <li>
            <a href="#participation-awards">
                Participation Awards
            </a>
        </li>

        @if (Model.TotalFirstPlaceAwards > 0)
        {
            <li>
                <a href="#total-first-place-count">
                    Total First Place Count
                </a>
            </li>
        }

        @if (Model.NominationsWithMostWookieeProjects.Count > 0)
        {
            <li>
                <a href="#nominations-with-most-wookiee-projects">
                    Nominations With Most WookieeProjects
                </a>
            </li>
        }
    </ol>
}

@section Links
{
    @for (var i = 0; i < Model.Groups.Count; i++)
    {
        var group = Model.Groups[i];
        var style = group.Value == Model.Selected?.Id.ToString() ? "font-weight: bold;" : null;

        <a class="nav-link" style="@style" asp-controller="Home" asp-action="Index" asp-route-awardId="@group.Value">
            @group.Text
        </a>
    }
}

@if (Model.Selected == null)
{
    <p>No awards have been given yet. Come back later to see them!</p>
}
else
{
    @foreach (var heading in Model.Selected.AwardHeadings)
    {
        <section id="@heading.HeadingSlug" class="section-container">
            <header>
                <h2>@heading.Heading</h2>
            </header>
            @foreach (var subheading in heading.Subheadings)
            {
                <div class="table-container" id="@heading.HeadingSlug-@subheading.SubheadingSlug">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="4" class="table-name">
                                    @heading.Heading (@subheading.Subheading)
                                </th>
                            </tr>
                            <tr>
                                @if (subheading.Mode is TableMode.LongestStatusArticle)
                                {
                                    <th>Article</th>
                                }
                                else
                                {
                                    <th>Award</th>
                                }
                                
                                @if (subheading.Mode is not TableMode.MostDaysWithArticles and not TableMode.MVP and not TableMode.LongestStatusArticle)
                                {
                                    <th>Place</th>
                                }

                                @if (subheading.Mode == TableMode.WookieeProject)
                                {
                                    <th>Project(s)</th>
                                }
                                else if (subheading.Mode == TableMode.MostDaysWithArticles)
                                {
                                    <th>Date</th>
                                }
                                else
                                {
                                    <th>Nominator(s)</th>
                                }

                                @if (subheading.Mode is TableMode.LongestStatusArticle)
                                {
                                    <th>Word Count</th>
                                }
                                else
                                {
                                    <th>Count</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var awardType in subheading.Awards)
                            {
                                @for (var i = 0; i < awardType.Winners.Count; i++)
                                {
                                    <tr>
                                        @if (i == 0)
                                        {
                                            <th rowspan="@awardType.Winners.Count">
                                                @if (heading.Heading == "WookieeProject Contributions")
                                                {
                                                    <partial name="_ProjectLink" model="awardType.Type" />
                                                }
                                                else if (subheading.Mode is TableMode.LongestStatusArticle)
                                                {
                                                    <partial name="_ArticleLink" model="awardType.Type" />
                                                }
                                                else
                                                {
                                                    @awardType.Type
                                                }
                                            </th>
                                        }
                                        @if (subheading.Mode is not TableMode.MostDaysWithArticles and not TableMode.MVP and not TableMode.LongestStatusArticle)
                                        {
                                            <td style="text-align: initial">@(i + 1)</td>
                                        }
                                        <td>
                                            <ul>
                                                @foreach (var name in awardType.Winners[i].Names)
                                                {
                                                    @if (name is WinnerNameViewModel.NominatorView nominator)
                                                    {
                                                        <li>
                                                            <partial name="_NominatorLink" model="nominator.Nominator" />
                                                        </li>
                                                    }
                                                    else if (name is WinnerNameViewModel.WookieeProject project)
                                                    {
                                                        <li>
                                                            <partial name="_ProjectLink" model="@project.ProjectName" />
                                                        </li>
                                                    }
                                                    else if (name is WinnerNameViewModel.Date date)
                                                    {
                                                        <li>
                                                            <time datetime="@date.DateOfNomination.ToString("O")">
                                                                @date.DateOfNomination.ToLongDateString()
                                                            </time>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </td>
                                        <td>@awardType.Winners[i].Count</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <br />
            }
        </section>
    }

    <section id="participation-awards" class="section-container">
        <header>
            <h2>Participation Awards</h2>
        </header>
        <ul>
            @foreach (var nominator in Model.NominatorsWhoParticipatedButDidntPlace)
            {
                <li>
                    <partial name="_NominatorLink" model="nominator" />
                </li>
            }
        </ul>
    </section>

    @if (Model.AddedProjects.Count > 0)
    {
        <section id="new-projects" class="section-container">
            <header>
                <h2>New Projects</h2>
            </header>
            <ol>
                @foreach (var project in Model.AddedProjects)
                {
                    <li>
                        <time datetime="@project.CreatedAt.ToString("u")">
                            @project.CreatedAt.ToString("d")
                        </time>
                        <partial name="_ProjectLink" model="project.Name" />
                    </li>
                }
            </ol>
        </section>
    }

    @if (Model.TotalFirstPlaceAwards > 0)
    {
        <section id="total-first-place-count" class="section-container">
            <header>
                <h2>Total First-Place Count</h2>
            </header>
            <p>This year, the total number of first-place awards is <strong>@Model.TotalFirstPlaceAwards</strong>.</p>
        </section>
    }

    @if (Model.NominationsWithMostWookieeProjects.Count > 0)
    {
        <section id="nominations-with-most-wookiee-projects" class="section-container">
            <header>
                <h2>Nominations With Most WookieeProjects</h2>
            </header>
            <p>
                The following Status Article Nominations had the highest number of WookieeProjects, with
                @Model.NominationsWithMostWookieeProjects.First().Projects!.Count() projects total!
            </p>

            <div class="table-container">
                <table>
                    <thead>
                        <th>Article</th>
                        <th>Nominators</th>
                        <th>WookieeProjects</th>
                    </thead>
                    <tbody>
                        @foreach (var nomination in Model.NominationsWithMostWookieeProjects)
                        {
                            <tr>
                                <td>
                                    <partial name="_ArticleLink" model="nomination.ArticleName" />
                                </td>
                                <td>
                                    <ul>
                                        @foreach (var nominator in nomination.Nominators!)
                                        {
                                            <li>
                                                <partial name="_NominatorLink" model="nominator" />
                                            </li>
                                        }
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        @foreach (var project in nomination.Projects!)
                                        {
                                            <li>
                                                <partial name="_ProjectLink" model="project.Name" />
                                            </li>
                                        }
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>
    }
}
