@using WookiepediaStatusArticleData.Nominations.Nominations
@model WookiepediaStatusArticleData.Models.Nominations.NominationQuery;

<details>
    <summary>Filter/Sort</summary>

    <form hx-get hx-controller="Nominations" hx-action="Index" hx-target="#nominations-table-container">
        <label asp-for="Order">Sort Order</label>
        <select asp-for="Order">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>

        <label asp-for="Continuity">Continuity</label>
        <select asp-for="Continuity" asp-items="@Html.GetEnumSelectList<Continuity>()">
            <option value="">--none--</option>
            <option value="empty">--No Continuity--</option>
        </select>

        <label asp-for="Type">Nomination Type</label>
        <select asp-for="Type" asp-items="@Html.GetEnumSelectList<NominationType>()">
            <option value="">--none--</option>
        </select>

        <label asp-for="Outcome">Outcome</label>
        <select asp-for="Outcome" asp-items="@Html.GetEnumSelectList<Outcome>()">
            <option value="">--none--</option>
        </select>

        <label asp-for="StartedAt">Started At (Exact Match)</label>
        <input type="date" asp-for="StartedAt" />

        <label asp-for="EndedAt">Ended At (Exact Match)</label>
        <input type="date" asp-for="EndedAt" />

        <label asp-for="StartedBy">Started At (Lower Bound)</label>
        <input type="date" asp-for="StartedBy" />

        <label asp-for="EndedBy">Ended At (Upper Bound)</label>
        <input type="date" asp-for="EndedBy" />

        <label asp-for="@Model.ProjectId">Project</label>
        <select asp-for="@Model.ProjectId" asp-items="@ViewBag.AllProjects">
            <option value="">--none--</option>
        </select>

        <label asp-for="@Model.NominatorId">Nominator</label>
        <select asp-for="@Model.NominatorId" asp-items="@ViewBag.AllNominators">
            <option value="">--none--</option>
        </select>

        <label asp-for="@Model.ArticleName">Article Name</label>
        <input type="text" asp-for="@Model.ArticleName">

        <br />
        <div class="submit-buttons">
            <button type="reset">Reset</button>
            <button type="submit">Search</button>
        </div>
    </form>
</details>
